/*-------------------------------------------
	共通部分
  -------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

h2{
  text-align: center;
}
/*-------------------------------------------
  ページ全体
  -------------------------------------------*/
.page-wrapper {
  width: 100%;
  padding: 0 40px;
  max-width: 1280px;
  margin: 0 auto;
}

/*-------------------------------------------
  メインコンテンツ
  -------------------------------------------*/
.main-content {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.main-picture{
  height: 640px;
  border-radius: 16px;
}

/*------------------------------------------
  これより下にコードを追加してください。
  -------------------------------------------*/
/*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
header {
  display: flex;
  padding: 24px 0;
  /* width: 100%;
  height: 100px; */
}

.menu{
  display: flex;
  gap: 24px;
  margin-left: auto
}

.menu-item1:hover{
  opacity: 0.7;
}

.menu-item2:hover{
  opacity: 0.7;
}
/*-------------------------------------------
  メインビジュアル
  -------------------------------------------*/


/*-------------------------------------------
  セクション 共通部分
  -------------------------------------------*/


/* -------------------------------------------
  プロフィール
  -------------------------------------------*/
.content{
  display: flex;
  gap: 40px;
  margin: 0 auto;
}

.profile{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sentence{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#profile-title{
  border-bottom: 1px solid #000000;
}

.profile-picture{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius:50%;
}

/* -------------------------------------------
  記事
  -------------------------------------------*/
#section-title{
  border-bottom: 1px solid #000000;
}

  .articles{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.picture{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px;
}

.articles-picture{
  display: flex;
  flex-direction: column;
  gap: 8;
  width: 30%;
  margin-bottom: 40px;
}

/*-------------------------------------------
  フッター
  -------------------------------------------*/
.copyright{
  text-align: center;
  padding: 40px 0;
  font-size: small;
}